<html>
<head>
	<title>
	Publicación de productos
	</title>
</head>
<body>
<div style="background: blue; padding: 20px; color: white">
	<h1 style="text-align: center">DESABASTECIMIENTO.COM</h1>
</div>
<br>
<div style="text-align: right;">
	<a href="#">Agregar publicaci&oacute;n</a>
</div>
<h2>Publicaciones de comerciantes</h2>
<hr>

<table width="80%" align="center">
	<thead style="background: yellow">
		<th>
			T&iacute;tulo
		</th>
		<th>
			Fecha de publicaci&oacute;n
		</th>
		<th>
			Productos
		</th>
		<th>
			Comercio
		</th>
		<th>
			Comerciante
		</th>
		<th>
			Direcci&oacute;n
		</th>
	</thead>
	<tbody>
		<tr align="center">
			<td>lnhvlsd</td><td>dslkfjhlkds</td><td>ldskjhfs</td><td>lskdhfkls</td><td>kjsdhf</td><td>lksjdhf</td>
		</tr>
		
	</tbody>


</table>

</body>
</html>